backups/backup_pre_chunk_0_2026-01-06.json
{
  "workflow_id": "6MPoDSf8t0u8qXQq",
  "workflow_name": "AMA Pre-Chunk 0: Intake & Client Identification",
  "backup_date": "2026-01-06T08:54:15+01:00",
  "backup_reason": "Pre-Phase 2 testing backup - workflow production ready",
  "status": "inactive",
  "nodes_count": 28,
  "connections_count": 24,
  "version_id": "3d3f2182-88a2-4070-8758-cb8ad3b95588",
  "version_counter": 18,
  "workflow_data": {
    "updatedAt": "2026-01-06T09:18:55.587Z",
    "createdAt": "2026-01-05T23:26:12.848Z",
    "id": "6MPoDSf8t0u8qXQq",
    "name": "AMA Pre-Chunk 0: Intake & Client Identification",
    "description": null,
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "simple": false,
          "filters": {
            "labelIds": [
              "INBOX",
              "UNREAD",
              "Label_8011160688574026773"
            ],
            "q": "has:attachment"
          },
          "options": {
            "dataPropertyAttachmentsPrefixName": "attachment_",
            "downloadAttachments": true
          }
        },
        "id": "gmail-trigger-001",
        "name": "Gmail Trigger - Unread with Attachments",
        "type": "n8n-nodes-base.gmailTrigger",
        "typeVersion": 1.3,
        "position": [
          112,
          480
        ],
        "credentials": {
          "gmailOAuth2": {
            "id": "aYzk7sZF8ZVyfOan",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Filter PDF and ZIP attachments only\nconst items = $input.all();\nconst filtered = [];\n\nfor (const item of items) {\n  // Gmail trigger stores attachments in item.binary, not item.json.attachments\n  if (!item.binary) continue;\n  \n  // Iterate over binary keys (attachment_0, attachment_1, etc.)\n  for (const [key, attachment] of Object.entries(item.binary)) {\n    const filename = attachment.fileName;\n    if (!filename) continue;\n    \n    const ext = filename.toLowerCase().split('.').pop();\n    \n    if (['pdf', 'zip'].includes(ext)) {\n      filtered.push({\n        json: {\n          emailId: item.json.id,\n          emailSubject: item.json.Subject || item.json.subject,\n          emailFrom: item.json.From || item.json.from,\n          emailDate: item.json.date,\n          attachmentKey: key,\n          filename: filename,\n          mimeType: attachment.mimeType,\n          size: attachment.fileSize\n        },\n        binary: {\n          data: attachment\n        }\n      });\n    }\n  }\n}\n\nreturn filtered;"
        },
        "id": "filter-attachments-001",
        "name": "Filter PDF/ZIP Attachments",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          336,
          480
        ]
      },
      {
        "parameters": {
          "operation": "upload",
          "name": "={{ $json.filename }}",
          "driveId": {
            "__rl": true,
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "mode": "id",
            "value": "1ikw3k-EgpVg_h2ySDdqdUFB7-FQyYDFm"
          },
          "options": {}
        },
        "id": "upload-pdf-gdrive-001",
        "name": "Upload PDF to Temp Folder",
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          560,
          480
        ],
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "a4m50EefR3DJoU0R",
            "name": "Google Drive account"
          }
        },
        "notes": "Uploads PDF to temp folder and returns Google Drive file ID. This replaces binary data passing."
      },
      {
        "parameters": {
          "jsCode": "// Extract Google Drive file ID from upload response and preserve email metadata\nconst uploadResult = $input.first().json;\nconst emailData = $('Filter PDF/ZIP Attachments').first().json;\nconst binaryData = $input.first().binary || {};\n\nreturn [{\n  json: {\n    file_id: uploadResult.id,\n    filename: uploadResult.name,\n    emailId: emailData.emailId,\n    emailSubject: emailData.emailSubject,\n    emailFrom: emailData.emailFrom,\n    emailDate: emailData.emailDate\n  },\n  binary: binaryData  // ✅ Preserve binary data\n}];"
        },
        "id": "extract-file-id-001",
        "name": "Extract File ID & Metadata",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          784,
          480
        ],
        "notes": "Extracts Google Drive file ID and preserves email metadata for downstream processing"
      },
      {
        "parameters": {
          "operation": "download",
          "fileId": {
            "__rl": true,
            "mode": "id",
            "value": "={{ $json.file_id }}"
          },
          "options": {}
        },
        "id": "download-pdf-from-gdrive-001",
        "name": "Download PDF from Drive",
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          1008,
          480
        ],
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "a4m50EefR3DJoU0R",
            "name": "Google Drive account"
          }
        },
        "notes": "Downloads PDF binary using file_id for text extraction"
      },
      {
        "parameters": {
          "operation": "pdf",
          "options": {
            "joinPages": true,
            "keepSource": "json"
          }
        },
        "id": "extract-text-001",
        "name": "Extract Text from PDF",
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1.1,
        "position": [
          1232,
          480
        ]
      },
      {
        "parameters": {
          "jsCode": " // V4: Evaluate extraction quality for each PDF\n  const items = $input.all();\n  const results = [];\n\n  for (const item of items) {\n    const extractedText = item.json.text || '';\n    const wordCount = extractedText.trim().split(/\\s+/).length;\n\n    results.push({\n      json: {\n        ...item.json,\n        wordCount: wordCount,\n        needsOCR: wordCount < 10,\n        extractionQuality: wordCount < 10 ? 'poor' : 'good',\n        \n        // NEW: Keep extracted text for downstream use\n        extractedText: extractedText,\n        textLength: extractedText.trim().length,\n        extractionMethod: 'digital_pre_chunk'\n      },\n      binary: item.binary  // ✅ Pass through binary data\n    });\n  }\n\n  return results;"
        },
        "id": "evaluate-extraction-001",
        "name": "Evaluate Extraction Quality",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1456,
          480
        ],
        "notes": "Checks if text extraction succeeded. If <10 words, flags for OCR (AWS Textract)"
      },
      {
        "parameters": {
          "resource": "chat",
          "prompt": {
            "messages": [
              {
                "role": "system",
                "content": "You are an AI that extracts client company names from German real estate documents. Extract ONLY the client/investor company name. Return the name without any explanation or additional text."
              },
              {
                "content": "=Extract the client company name from this text:\n\n={{ $json.text }}"
              }
            ]
          },
          "options": {
            "maxTokens": 50,
            "temperature": 0.1
          },
          "requestOptions": {}
        },
        "id": "ai-extract-client-001",
        "name": "AI Extract Client Name",
        "type": "n8n-nodes-base.openAi",
        "typeVersion": 1.1,
        "position": [
          1680,
          480
        ],
        "credentials": {
          "openAiApi": {
            "id": "xmJ7t6kaKgMwA1ce",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Get all input items\nconst items = $input.all();\nconst results = [];\n\n// Process each item\nfor (const item of items) {\n  let clientNameRaw = '';\n  \n  // Extract AI response from OpenAI Chat node output\n  if (item.json && item.json.message && item.json.message.content) {\n    clientNameRaw = String(item.json.message.content);\n  } else if (item.json && item.json.text) {\n    clientNameRaw = String(item.json.text);\n  }\n  \n  clientNameRaw = clientNameRaw.trim();\n  \n  // Normalize German client name for folder creation\n  let clientNormalized = '';\n  if (clientNameRaw) {\n    clientNormalized = clientNameRaw\n      .toLowerCase()\n      .trim()\n      .replace(/ä/g, 'ae')\n      .replace(/ö/g, 'oe')\n      .replace(/ü/g, 'ue')\n      .replace(/ß/g, 'ss')\n      .replace(/\\s*(gmbh|ag|kg|e\\.v\\.|mbh|co\\.|&\\s*co\\.?)\\s*/gi, '')\n      .replace(/[^a-z0-9]/g, '_')\n      .replace(/_+/g, '_')\n      .replace(/^_|_$/g, '');\n  }\n  \n  results.push({\n    json: {\n      client_name_raw: clientNameRaw,\n      client_normalized: clientNormalized,\n      parent_folder_id: '1ikw3k-EgpVg_h2ySDdqdUFB7-FQyYDFm'\n    },\n    binary: item.binary || {}  // ✅ Preserve binary data\n  });\n}\n\nreturn results;"
        },
        "id": "normalize-name-001",
        "name": "Normalize Client Name",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1904,
          480
        ]
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "mode": "id",
            "value": "1T-jL-cLgplVeZ3EMroQxvGEqI5G7t81jRZ2qINDvXNI"
          },
          "sheetName": {
            "__rl": true,
            "mode": "list",
            "value": 762792134,
            "cachedResultName": "Client_Registry",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1T-jL-cLgplVeZ3EMroQxvGEqI5G7t81jRZ2qINDvXNI/edit#gid=762792134"
          },
          "options": {}
        },
        "id": "lookup-registry-001",
        "name": "Lookup Client Registry",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          2128,
          480
        ],
        "alwaysOutputData": true,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "H7ewI1sOrDYabelt",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// V5: Check if client exists in Client_Registry\n// CRITICAL FIX V2: Detect polite AI refusals\n\n// Get normalized client name from Normalize Client Name node\nconst normalizeOutput = $('Normalize Client Name').first().json;\nconst clientNormalized = normalizeOutput.client_normalized || '';\nconst clientNameRaw = normalizeOutput.client_name_raw || '';\nconst parentFolderId = normalizeOutput.parent_folder_id || '';\n\n// Get registry rows from $input (Lookup Client Registry output)\nconst registryRows = $input.all();\n\n// Get binary data from earlier in workflow\nconst binaryData = $('Normalize Client Name').first().binary || {};\n\n// Detect AI extraction failures\nconst extractionFailurePatterns = [\n  'unable_to_extract', 'error_extracting', 'could_not_identify',\n  'could_not_extract', 'no_client_name', 'extraction_failed',\n  'cannot_identify', 'i_m_sorry', 'sorry_but', 'doesn_t_seem',\n  'does_not_appear', 'no_company_name', 'cannot_find', 'not_able_to'\n];\n\nconst isExtractionFailure = extractionFailurePatterns.some(pattern => \n  clientNormalized.toLowerCase().includes(pattern)\n);\n\nif (isExtractionFailure) {\n  return [{\n    json: {\n      client_name_raw: clientNameRaw,\n      client_normalized: clientNormalized,\n      parent_folder_id: parentFolderId,\n      client_status: 'UNKNOWN',\n      root_folder_id: null,\n      staging_folder_id: null,\n      extraction_failure: true,\n      extraction_error_message: clientNameRaw\n    },\n    binary: binaryData  // ✅ Preserve binary\n  }];\n}\n\n// If registry is empty, client is NEW\nif (registryRows.length === 0) {\n  return [{\n    json: {\n      client_name_raw: clientNameRaw,\n      client_normalized: clientNormalized,\n      parent_folder_id: parentFolderId,\n      client_status: 'NEW',\n      root_folder_id: null,\n      staging_folder_id: null\n    },\n    binary: binaryData  // ✅ Preserve binary\n  }];\n}\n\n// Search registry for matching client (with same normalization)\nconst clientRow = registryRows.find(row => {\n  const registryClientName = row.json.Client_Name || '';\n  const normalizedRegistryName = registryClientName\n    .toLowerCase()\n    .trim()\n    .replace(/ä/g, 'ae')\n    .replace(/ö/g, 'oe')\n    .replace(/ü/g, 'ue')\n    .replace(/ß/g, 'ss')\n    .replace(/\\s*(gmbh|ag|kg|e\\.v\\.|mbh|co\\.|&\\s*co\\.?)\\s*/gi, '')\n    .replace(/[^a-z0-9]/g, '_')\n    .replace(/_+/g, '_')\n    .replace(/^_|_$/g, '');\n  \n  return normalizedRegistryName === clientNormalized;\n});\n\nif (clientRow) {\n  // Client exists → EXISTING path\n  return [{\n    json: {\n      client_name_raw: clientNameRaw,\n      client_normalized: clientNormalized,\n      parent_folder_id: parentFolderId,\n      client_status: 'EXISTING',\n      root_folder_id: clientRow.json.Root_Folder_ID,\n      staging_folder_id: clientRow.json.Staging_Folder_ID\n    },\n    binary: binaryData  // ✅ Preserve binary\n  }];\n} else {\n  // Client not in registry → NEW path\n  return [{\n    json: {\n      client_name_raw: clientNameRaw,\n      client_normalized: clientNormalized,\n      parent_folder_id: parentFolderId,\n      client_status: 'NEW',\n      root_folder_id: null,\n      staging_folder_id: null\n    },\n    binary: binaryData  // ✅ Preserve binary\n  }];\n}"
        },
        "id": "check-exists-001",
        "name": "Check Client Exists",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2352,
          480
        ]
      },
      {
        "id": "switch-client-status-001",
        "name": "Route by Client Status",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3,
        "position": [
          2576,
          480
        ],
        "parameters": {
          "mode": "expression",
          "output": "specified",
          "options": {},
          "rules": {
            "values": [
              {
                "outputKey": "NEW",
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.client_status }}",
                      "rightValue": "NEW",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "outputKey": "EXISTING",
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.client_status }}",
                      "rightValue": "EXISTING",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "outputKey": "UNKNOWN",
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.client_status }}",
                      "rightValue": "UNKNOWN",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          }
        }
      },
      {
        "id": "merge-new-client-001",
        "name": "Merge File + Client Data (NEW)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2800,
          240
        ],
        "parameters": {
          "jsCode": "// Merge file metadata with new client info\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  // Get file_id from earlier nodes\n  const fileId = $('Extract File ID & Metadata').first().json.file_id;\n  const filename = $('Extract File ID & Metadata').first().json.filename;\n  const emailId = $('Extract File ID & Metadata').first().json.emailId;\n  \n  results.push({\n    json: {\n      ...item.json,\n      file_id: fileId,\n      file_name: filename,\n      email_id: emailId,\n      timestamp: new Date().toISOString()\n    },\n    binary: item.binary || {}  // ✅ Preserve binary\n  });\n}\n\nreturn results;"
        }
      },
      {
        "id": "execute-chunk0-001",
        "name": "Execute Chunk 0 - Create Folders",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.1,
        "position": [
          3024,
          240
        ],
        "parameters": {
          "source": "database",
          "workflowId": "zbxHkXOoD1qaz6OS",
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "client_name": "={{ $json.client_name_raw }}",
              "client_normalized": "={{ $json.client_normalized }}",
              "parent_folder_id": "1ikw3k-EgpVg_h2ySDdqdUFB7-FQyYDFm"
            }
          },
          "options": {
            "waitForSubWorkflow": true
          }
        }
      },
      {
        "id": "email-new-client-001",
        "name": "Send Email - New Client Notification",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          3248,
          240
        ],
        "parameters": {
          "operation": "send",
          "sendTo": "={{ $json.email_from }}",
          "subject": "=✅ New Client Added: {{ $json.client_name_raw }}",
          "message": "=New client {{ $json.client_name_raw }} has been added to the system.\n\nClient folder structure created:\n- Main folder: {{ $json.client_folder_id }}\n- Staging folder: {{ $json.staging_folder_id }}\n\nOriginal file: {{ $json.file_name }}\nProcessed: {{ $json.timestamp }}",
          "options": {}
        },
        "credentials": {
          "gmailOAuth2": {
            "id": "google-oauth-sway",
            "name": "Google OAuth (Sway)"
          }
        }
      },
      {
        "id": "mark-read-new-001",
        "name": "Mark Email as Read (NEW)",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          3472,
          240
        ],
        "parameters": {
          "operation": "addLabels",
          "messageId": "={{ $json.email_id }}",
          "labelIds": [
            "INBOX"
          ],
          "removeLabelIds": [
            "UNREAD"
          ]
        },
        "credentials": {
          "gmailOAuth2": {
            "id": "google-oauth-sway",
            "name": "Google OAuth (Sway)"
          }
        }
      },
      {
        "id": "lookup-staging-folder-001",
        "name": "Lookup Staging Folder",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          3696,
          240
        ],
        "parameters": {
          "operation": "read",
          "range": "A:Z",
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "Client Normalized",
                "lookupValue": "={{ $json.client_normalized }}"
              }
            ]
          }
        },
        "credentials": {
          "googleSheetsOAuth2": {
            "id": "google-oauth-sway",
            "name": "Google OAuth (Sway)"
          }
        }
      },
      {
        "id": "execute-chunk1-new-001",
        "name": "Execute Chunk 1 - Move to Staging (NEW)",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.1,
        "position": [
          3920,
          240
        ],
        "parameters": {
          "source": "database",
          "workflowId": "djsBWsrAEKbj2omB",
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "file_id": "={{ $json.file_id }}",
              "staging_folder_id": "={{ $json.staging_folder_id }}",
              "client_normalized": "={{ $json.client_normalized }}"
            }
          },
          "options": {
            "waitForSubWorkflow": true
          }
        }
      },
      {
        "id": "merge-existing-client-001",
        "name": "Merge File + Client Data (EXISTING)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2800,
          480
        ],
        "parameters": {
          "jsCode": "// Merge file metadata with existing client info\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  // Get file_id from earlier nodes\n  const fileId = $('Extract File ID & Metadata').first().json.file_id;\n  const filename = $('Extract File ID & Metadata').first().json.filename;\n  const emailId = $('Extract File ID & Metadata').first().json.emailId;\n  \n  results.push({\n    json: {\n      ...item.json,\n      file_id: fileId,\n      file_name: filename,\n      email_id: emailId,\n      timestamp: new Date().toISOString()\n    },\n    binary: item.binary || {}  // ✅ Preserve binary\n  });\n}\n\nreturn results;"
        }
      },
      {
        "id": "email-existing-client-001",
        "name": "Send Email - Existing Client",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          3024,
          480
        ],
        "parameters": {
          "operation": "send",
          "sendTo": "={{ $json.email_from }}",
          "subject": "=📥 Document Received: {{ $json.client_name_raw }}",
          "message": "=Document received for existing client: {{ $json.client_name_raw }}\n\nFile: {{ $json.file_name }}\nMoving to staging folder for processing.\n\nProcessed: {{ $json.timestamp }}",
          "options": {}
        },
        "credentials": {
          "gmailOAuth2": {
            "id": "google-oauth-sway",
            "name": "Google OAuth (Sway)"
          }
        }
      },
      {
        "id": "mark-read-existing-001",
        "name": "Mark Email as Read (EXISTING)",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          3248,
          480
        ],
        "parameters": {
          "operation": "addLabels",
          "messageId": "={{ $json.email_id }}",
          "labelIds": [
            "INBOX"
          ],
          "removeLabelIds": [
            "UNREAD"
          ]
        },
        "credentials": {
          "gmailOAuth2": {
            "id": "google-oauth-sway",
            "name": "Google OAuth (Sway)"
          }
        }
      },
      {
        "id": "execute-chunk1-existing-001",
        "name": "Execute Chunk 1 - Move to Staging (EXISTING)",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.1,
        "position": [
          3472,
          480
        ],
        "parameters": {
          "source": "database",
          "workflowId": "djsBWsrAEKbj2omB",
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "file_id": "={{ $json.file_id }}",
              "staging_folder_id": "={{ $json.staging_folder_id }}",
              "client_normalized": "={{ $json.client_normalized }}"
            }
          },
          "options": {
            "waitForSubWorkflow": true
          }
        }
      },
      {
        "id": "noop-existing-001",
        "name": "NoOp - EXISTING Complete",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          3696,
          480
        ],
        "parameters": {}
      },
      {
        "id": "merge-unknown-client-001",
        "name": "Merge File + Unknowns Data",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2800,
          720
        ],
        "parameters": {
          "jsCode": "// Merge file metadata with unknown client info\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  // Get file_id from earlier nodes\n  const fileId = $('Extract File ID & Metadata').first().json.file_id;\n  const filename = $('Extract File ID & Metadata').first().json.filename;\n  const emailId = $('Extract File ID & Metadata').first().json.emailId;\n  \n  results.push({\n    json: {\n      ...item.json,\n      file_id: fileId,\n      file_name: filename,\n      email_id: emailId,\n      unknowns_folder_id: '1qdUu-dIkQR0oDaZKAL_8OhI0jST89_Vu',\n      timestamp: new Date().toISOString()\n    },\n    binary: item.binary || {}  // ✅ Preserve binary\n  });\n}\n\nreturn results;"
        }
      },
      {
        "id": "move-to-unknowns-001",
        "name": "Move to 38_Unknowns Folder",
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          3024,
          720
        ],
        "parameters": {
          "resource": "file",
          "operation": "move",
          "fileId": {
            "__rl": true,
            "value": "={{ $json.file_id }}",
            "mode": "id"
          },
          "folderId": {
            "__rl": true,
            "value": "1qdUu-dIkQR0oDaZKAL_8OhI0jST89_Vu",
            "mode": "id"
          },
          "options": {}
        },
        "credentials": {
          "googleDriveOAuth2": {
            "id": "google-oauth-sway",
            "name": "Google OAuth (Sway)"
          }
        }
      },
      {
        "id": "email-unknown-client-001",
        "name": "Send Email - Unknown Client Warning",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          3248,
          720
        ],
        "parameters": {
          "operation": "send",
          "sendTo": "={{ $json.email_from }}",
          "subject": "=⚠️ Unknown Client - Manual Review Required",
          "message": "=⚠️ Unable to identify client for received document.\n\nExtracted name: {{ $json.client_name_raw }}\nNormalized name: {{ $json.client_name_normalized }}\n\nThe file has been moved to the Unknowns folder for manual review:\n- File: {{ $json.file_name }}\n- Location: 38_Unknowns folder\n\nPlease review and either:\n1. Add client to registry if new\n2. Correct the client name and resubmit\n\nProcessed: {{ $json.timestamp }}",
          "options": {}
        },
        "credentials": {
          "gmailOAuth2": {
            "id": "google-oauth-sway",
            "name": "Google OAuth (Sway)"
          }
        }
      },
      {
        "id": "mark-read-unknown-001",
        "name": "Mark Email as Read (UNKNOWN)",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          3472,
          720
        ],
        "parameters": {
          "operation": "addLabels",
          "messageId": "={{ $json.email_id }}",
          "labelIds": [
            "INBOX"
          ],
          "removeLabelIds": [
            "UNREAD"
          ]
        },
        "credentials": {
          "gmailOAuth2": {
            "id": "google-oauth-sway",
            "name": "Google OAuth (Sway)"
          }
        }
      },
      {
        "id": "noop-unknown-001",
        "name": "NoOp - UNKNOWN Complete",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          3696,
          720
        ],
        "parameters": {}
      }
    ],
    "connections": {
      "Gmail Trigger - Unread with Attachments": {
        "main": [
          [
            {
              "node": "Filter PDF/ZIP Attachments",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter PDF/ZIP Attachments": {
        "main": [
          [
            {
              "node": "Upload PDF to Temp Folder",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload PDF to Temp Folder": {
        "main": [
          [
            {
              "node": "Extract File ID & Metadata",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract File ID & Metadata": {
        "main": [
          [
            {
              "node": "Download PDF from Drive",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download PDF from Drive": {
        "main": [
          [
            {
              "node": "Extract Text from PDF",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Text from PDF": {
        "main": [
          [
            {
              "node": "Evaluate Extraction Quality",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Evaluate Extraction Quality": {
        "main": [
          [
            {
              "node": "AI Extract Client Name",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Extract Client Name": {
        "main": [
          [
            {
              "node": "Normalize Client Name",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalize Client Name": {
        "main": [
          [
            {
              "node": "Lookup Client Registry",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Lookup Client Registry": {
        "main": [
          [
            {
              "node": "Check Client Exists",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Client Exists": {
        "main": [
          [
            {
              "node": "Route by Client Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Route by Client Status": {
        "NEW": [
          [
            {
              "node": "Merge File + Client Data (NEW)",
              "type": "NEW",
              "index": 0
            }
          ]
        ],
        "EXISTING": [
          [
            {
              "node": "Merge File + Client Data (EXISTING)",
              "type": "EXISTING",
              "index": 0
            }
          ]
        ],
        "UNKNOWN": [
          [
            {
              "node": "Merge File + Unknowns Data",
              "type": "UNKNOWN",
              "index": 0
            }
          ]
        ]
      },
      "Merge File + Client Data (NEW)": {
        "main": [
          [
            {
              "node": "Execute Chunk 0 - Create Folders",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Chunk 0 - Create Folders": {
        "main": [
          [
            {
              "node": "Send Email - New Client Notification",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Email - New Client Notification": {
        "main": [
          [
            {
              "node": "Mark Email as Read (NEW)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Mark Email as Read (NEW)": {
        "main": [
          [
            {
              "node": "Lookup Staging Folder",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Lookup Staging Folder": {
        "main": [
          [
            {
              "node": "Execute Chunk 1 - Move to Staging (NEW)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge File + Client Data (EXISTING)": {
        "main": [
          [
            {
              "node": "Send Email - Existing Client",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Email - Existing Client": {
        "main": [
          [
            {
              "node": "Mark Email as Read (EXISTING)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Mark Email as Read (EXISTING)": {
        "main": [
          [
            {
              "node": "Execute Chunk 1 - Move to Staging (EXISTING)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Chunk 1 - Move to Staging (EXISTING)": {
        "main": [
          [
            {
              "node": "NoOp - EXISTING Complete",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge File + Unknowns Data": {
        "main": [
          [
            {
              "node": "Move to 38_Unknowns Folder",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Move to 38_Unknowns Folder": {
        "main": [
          [
            {
              "node": "Send Email - Unknown Client Warning",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Email - Unknown Client Warning": {
        "main": [
          [
            {
              "node": "Mark Email as Read (UNKNOWN)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Mark Email as Read (UNKNOWN)": {
        "main": [
          [
            {
              "node": "NoOp - UNKNOWN Complete",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "availableInMCP": false,
      "callerPolicy": "workflowsFromSameOwner"
    },
    "staticData": null,
    "meta": null,
    "pinData": {},
    "versionId": "3d3f2182-88a2-4070-8758-cb8ad3b95588",
    "activeVersionId": null,
    "versionCounter": 18,
    "triggerCount": 0
  }
}
